<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354887532262-emm7sc9n0t5qijmqo38kdkfob85hmumm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354887532262-emm7sc9n0t5qijmqo38kdkfob85hmumm</string>
	<key>API_KEY</key>
	<string>AIzaSyBtgG0pojRF5qz--_12rClAoJWLMZ4-agk</string>
	<key>GCM_SENDER_ID</key>
	<string>354887532262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magiclab396.englishoutput.qa</string>
	<key>PROJECT_ID</key>
	<string>englishoutput-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>englishoutput-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354887532262:ios:3e18972e5a98e0f2994527</string>
</dict>
</plist>